/* Styles for body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: linear-gradient(to right, #33ccff 0%, #99ffcc);
  }

  /* Styles for container */
  .container {
    margin-bottom: 10%;
    
  }

/* Styles for Jumbotron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-bottom: 10px dotted #28A745;
  font-family: 'Cabin Sketch', cursive;
  padding-bottom: 10px;
  padding-top: 10px;
  
}

.lead{
  background-color:#28A745 ;
  padding: 10px;
  border-radius: 10px;
  width: 38%;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  
}

 #currentDay{
  width: 27%;
 }

  /* Styles for textarea */
  .form-control{
    background: transparent;
    resize: none;
    color: #000000;
    border: 1px solid #28A745;
    padding: 10px;
    margin-bottom: 10px;
  }

  .hour {
    background: transparent;
    border-color: #28A745; 
    color: white;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }

  .present{
    color: #fff;
    background-color: #ef0a1a;
    animation: pulse  10s infinite;   
  }
  
	@keyframes pulse {
		0%		{opacity: 1;}
    20%		{opacity: 0.5;}
    40%		{opacity: 1;}
    60%		{opacity: 0.5;}
    80%		{opacity: 1;}
    100%	{opacity: 0.5;}   				
	}

  .future {
    background-color: #77dd77;
    color: white;
  }
 
  /* Styles for buttons */
  .saveBtn {
    border: 1px solid #28A745; 
    background-color:transparent;
    color: #28A745;
  }

  .trashBtn {
    border: 1px solid #28A745;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:transparent;
    color: #28A745;
  }
  
  /* Styles for  button hover */
  .saveBtn:hover {
    font-size: 20px;
    background-color: #28A745;
    color: white;
    transition: all .3s ease-in-out;
  }

  .trashBtn:hover {
    font-size: 20px;
    background-color: #28A745;
    color: white;
    transition: all .3s ease-in-out;
  }

/* Styles for save and delete icons */
  .fa-save {
      padding: 10px;
  
  }
  .fa-trash-alt {
    padding: 10px;
  }



 